<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @image_asset.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @image_asset.description %>
</p>

<p>
  <strong>Approval:</strong>
  <%= @image_asset.approval %>
</p>

<p>
  <strong>Category:</strong>
  <%= @image_asset.category %>
</p>

<%= link_to 'Edit', edit_image_asset_path(@image_asset) %> |
<%= link_to 'Back', image_assets_path %>
